html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#grid-container {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    border: 1px solid black;
}

#ui-container {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

#range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}